#wrap {
    overflow: hidden;
    position: relative;
    max-width: 1920px;
    max-height: 969px;
}

.center {
    position: relative;
}

.center2 {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ffe4a2;
    box-sizing: border-box;
}

.logo {
    padding: 16px 0 6px;
    text-align: center;
}

#nav {
    width: 100%;
    margin-left: 10%;
}

#nav > li {
    float: left;
    width: 16%;
    text-align: center;
}

#nav > li > a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 40px;
}

#nav > li > a:after {
    display: block;
    content: "";
    position: absolute;
    top: 99px;
    width: 0;
    border-bottom: 1px solid #d99d0e;
    transition: 0.3s;
}

#nav > li:hover > a:after {
    width: 160px;
}


.sub {
    position: absolute;
    width: 16%;
    z-index: 101;
    display: none;
}

.sub > li > a {
    color: #5e3a39;
    font-size: 15px;
    display: block;
    line-height: 2.8;
}

.subBg {
    position: absolute;
    top: 100px;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 180px;
    z-index: 100;
    display: none;
}

.search {
    position: absolute;
    top: 75px;
    right: 8%;
}

.search > a {
    float: right;
    margin-bottom: 10px;
}

.search > input {
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    width: 230px;
    height: 33px;
    border-radius: 10px;
    border: none;
    background-color: #ddd;
    z-index: 1000;
    padding: 4px 10px;
    box-sizing: border-box;
    display: none;
}

.hamBtn,
.close,
.m_tableBg,
.priceClose{
    display: none;
}

#container {
    background-image: url(../images/sub_bg.jpg);
    background-color:#000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    min-height: 940px;
    overflow: hidden;
    position: relative;
}

#container a,
#container p {
    color: #fff;
    text-shadow: 0 0 1px #000;
}

#container h2 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #000;
}

.showInfo {
    position: relative;
    overflow: hidden;
    margin: 35px 20% 50px;
}

.showInfo_menu > li {
    position: relative;
    text-align: center;
    float: left;
    height: 35px;
    width: 25%;
}

.showInfo_menu > li > a {
    display: block;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
}

.showInfo_menu > li > a:after {
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    bottom: 0;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}

.showInfo_menu > li.active > a:after {
    width: 100%;
}

.showInfo_menu > li:hover > a:after {
    width: 100%;
}

.timeInfo {
    overflow: hidden;
    width: 100%;
}

.timeInfo > .sTime {
    float: left;
    width: 20%;
    padding: 32px 0;
    box-sizing: border-box;
}

.timeInfo > .sTime > p {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.timeInfo > .sTime > p > span {
    font-size: 16px;
    margin-left: 8px;
}

.timeInfo > .dTime {
    float: right;
    width: 80%;
    border-left: 2px solid #fff;
    box-sizing: border-box;
    padding-left: 5.5%;
}

.timeInfo > .dTime > p {
    font-size: 14px;
    line-height: 1.5;
}

/*
table{
    border:1px solid #000;
    width:100%;
    max-width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}
th,td{
    border:1px solid #ccc;
}
*/

table {
    border: 1px solid #999;
    border-collapse: collapse;
    width: 100%;
    line-height: 3;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

th,
td {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    font-size: 15px;
    border-collapse: collapse;
    text-shadow: 0 0 1px #000;
}
th {
    font-weight: 600;
    color: #fff;
}
td {
    font-weight: 100;
    color: #ddd;
}
.sPrice tr > td:nth-child(2) {
    width: 10%;
}


.price_info,
.sPrice_info{
    display:none;
}

.more {
    bottom: 60px;
    position: absolute;
    overflow: hidden;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    transition: 1s;
    /*    display: none;*/
}

.news h3 {
    font-size: 16px;
    padding: 40px 0 20px;
}

.news {
    float: left;
    overflow: hidden;
    width: 55%;
    box-sizing: border-box;
    padding: 0 10px 0 0;
}

.news > ul > li {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2.8;
}

.news > ul > li > span {
    color: #d99d0e;
    margin-right: 13px;
}

.news > ul > li a {
    color: #5e5857;
}

.time {
    float: left;
    width: 45%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin-top: 20px;
}

.time h3 {
    font-size: 16px;
    padding: 10px 0 20px;
}

.time p {
    color: #5e5857;
    line-height: 2;
    font-size: 14px;
}

.time > ul {
    margin-top: 20px;
}

.time > ul > li {
    position: relative;
    text-align: center;
    width: 33.33%;
    float: left;
}

.time > ul > li:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 43px;
    background-color: #ddd;
    top: 2px;
}

.time > ul > li span {
    display: block;
    font-size: 12px;
    padding: 5px 0;
    color: #5e5857;
}

.moreBtn>a {
    display: block;
    position: absolute;
    background-color: #fff;
    background-image: url(../images/aroww_up.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 20px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 1px;
    box-sizing: border-box;
    transition: 1s;
}

.moreBtn>a.active {
    background-image: url(../images/aroww_down.png);
}

footer {
    padding-top: 6px;
    overflow: hidden;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.address {
    float: left;
    width: 36%;
    margin-right: 1%;
}

.address > p {
    color: #666;
    line-height: 2;
}

.address > p:first-child {
    color: #ccc;
    font-weight: bold;
}

.about {
    float: left;
    width: 52%;
    margin-right: 1%;
}

.about > p {
    color: #666;
    line-height: 2;
}

.sns {
    float: right;
    width: 10%;
    box-sizing: border-box;
}

.sns > ul > li {
    margin: 3px 4px;
    float: left;
    box-sizing: border-box;
}

.sns > ul > li:last-child {
    margin: 0;
    display: block;
}

.sns > ul > li:last-child > a {
    color: #215f78;
}










@media screen and (max-width:1000px) {
    #wrap {
        max-height: 100%;
        max-width: 100%;
        height: 100vh;
        width: 100vh;
    }

    #container {
        min-height: 100%;
        height: 100%;
        width: 100%;
    }

    header,
    #wrap,
    #container,
    footer {
        width: 100%;
    }

    .center {
        width: 95%;
    }

    .center2 {
        width: 90%;
    }


    table {
        line-height: 2.5;
    }

    .about {
        display: none;
    }

    .address {
        width: 85%;
        margin: 0;
    }

    .sns {
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    header {
        height: 65px;
    }

    #nav {
        position: fixed;
        top: 65px;
        width: 85%;
        height: 80%;
        left: -85%;
        z-index: 100;
        margin: 0;
    }

    #nav > li {
        float: none;
        background-color: #fff;
        width: 100%;
        position: relative;
    }

    .sub {
        position: static;
        width: 100%;
        background-color: #fff;
    }


    #nav > li:hover > a:after {
        width: 0px;
    }

    .m_subBg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .hamBtn {
        display: block;
        position: absolute;
        top: 30px;
    }

    .close {
        display: block;
        position: absolute;
        right: -78%;
        top: 70px;
        z-index: 1000;
    }

    .search {
        right: 0;
        top: 38px;
    }

    #nav > li > a {
        font-size: 14px;
    }

    .center2 {
        width: 90%;
        height: 80%;
        overflow: hidden;
    }

    .timeInfo > .sTime {
        padding: 4% 0;
    }

    .timeInfo > .sTime > p > span {
        display: block;
        font-size: 12px;
        margin:0;
    }

    .timeInfo > .dTime {
        padding-left: 3%;
    }

    .timeInfo > .dTime > p {
        font-size: 12px;
    }

    .showInfo {
        margin: 5% 0;
    }

    .showInfo_menu > li > a {
        line-height: 35px;
        font-size: 14px;
    }

    .price {
        margin: 4% 0;
    }

    .time {
        height: 220px;
    }

    .time > ul {
        margin: 15% 0;
    }

    .time > div p:nth-child(3),
    .time > div p:nth-child(4) {
        display: none;
    }
    .address {
        width: 75%;
        margin: 0;
    }
    .sns {
        width: 100px;
    }
}

@media screen and (max-width:480px) {
    .timeInfo > .sTime {
        width:100%;
    }

    .timeInfo > .dTime {
        width: 100%;
        border: none;
        padding-left: 0;
        margin-top:10%;
    }

    .timeInfo > .dTime > p {
        font-size: 12px;
        line-height:2;
    }
    .timeInfo > .sTime > p > span {
        border-bottom:2px solid #fff;
    }
    
    .price, .sPrice{
        display:none;
    }
    .price>h2,
    .sPrice>h2{
        display:none;
    }
    .price_info,
    .sPrice_info {
        display: block;
    }
    .price_info>a,
    .sPrice_info>a{
        display: block;
        font-size:14px;
        text-align: center;
        padding:2%;
        background-color:rgba(0,0,0,0.5);
        border:1px solid #fff;
        border-radius:5px;
        margin:10px;
    }
    table{
        position:absolute;
        top:20%;
        width:99%;
        height:auto;
        z-index: 100;
        line-height:auto;
        border-left:none;
        border-bottom:none;
    }

    .showInfo {
        margin: 5% 0;
    }

    .showInfo_menu > li > a {
        line-height: 35px;
        font-size: 12px;
    }

    th,
    td {
        line-height:2;
        font-size: 12px;
        padding:5% 10px;
    }


    .more div > h3 {
        padding: 15px 0;
    }

    .more div {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .news > ul > li {
        line-height: 2;
    }

    .news > ul > li:nth-child(3),
    .news > ul > li:nth-child(4) {
        display: none;
    }

    .time > div {
        float: left;
        width: 40%;
    }

    .time > ul {
        float: right;
        width: 50%;
        margin: 47px 0;
    }

    .address {
        width: 50%;
    }

    .address > p:nth-child(2) {
        display: none;
    }

    .sns {
        float: right;
        width: 96px;
    }

    .sns > ul > li:last-child {
        display: none;
    }
    .m_tableBg{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.9);
        display:none;
    }
    .priceClose{
        display:block;
        position:absolute;
        top:0%;
        right:0;
        display:none;
    }
}
